h1 {
    color: black;
    background-color:lightgray;
    text-align: center;
    height: 60px; 
    font-family: Arial, Helvetica, sans-serif; 
}

#main {
    background-color:rgb(241, 198, 117);
    border-radius: 10px;
}

#img-caption {
    text-align: center;
    padding-bottom: 30px;
    font-size: 17px;
}

#img-div {
    background-color:white;
    max-width: 100%;
    display:block;
    text-align: center;
    height: auto;
    border-radius: 8px;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

#link-div {
    text-align: center;
}

#text-div {
    text-align:justify;
}

#title {
    padding: 60px;

}

#list-one {
    background-color:lightgray;
}

#list-three {
    background-color:lightgray;
}

#list-five {
    background-color:lightgray;
}

p {
    font-family:Arial, Helvetica, sans-serif
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

#text-source {
    font-size: 12px;
    padding: 5px;
}